<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.png" />
        <span class="title">xManna Admin</span>
      </div>
      <!-- <div class="desc">武林中最有影响力的《葵花宝典》；欲练神功，挥刀自宫</div> -->
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2021
      <a href="//github.com/cipchk" target="_blank">卡色</a>出品
    </global-footer>
  </div>
</div>
<theme-btn></theme-btn>
