<nz-page-header class="site-page-header user_rightbar">
  <!--avatar-->
  <nz-avatar
    nz-page-header-avatar
    [nzShape]="'square'"
    nzSrc="{{
      record.logo
        ? record.logo
        : 'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'
    }}"
  >
  </nz-avatar>

  <!--title-->
  <nz-page-header-title>{{ record.name }}</nz-page-header-title>

  <nz-page-header-extra>
    <!-- <a nz-dropdown [nzDropdownMenu]="menu">
      Security Status
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item>Fair</li>
        <li nz-menu-item nzWarning>Warning</li>
        <li nz-menu-item>Locked</li>
        <li nz-menu-item nzDanger>Blacklisted</li>
      </ul>
    </nz-dropdown-menu> -->
    <nz-tag
      nzcolor="processing"
      class="ant-tag ant-tag-processing ng-star-inserted"
      ng-reflect-nz-color="processing"
      >Maintenance</nz-tag
    >
    <nz-tag
      nzcolor="error"
      class="ant-tag ant-tag-error ng-star-inserted"
      ng-reflect-nz-color="error"
      >Disable</nz-tag
    >
    <nz-page-header-subtitle
      ><i nz-icon nzType="reload" nzTheme="outline"></i>
    </nz-page-header-subtitle>
  </nz-page-header-extra>

  <!--content-->
  <nz-page-header-content class="white_bg">
    <div nz-row>
      <div class="content w-100">
        <nz-tabset nzType="card">
          <nz-tab
            *ngFor="let tab of tabs"
            [nzTitle]="tab"
            (nzClick)="tabSelect(tab)"
          >
            <!-- Games Info Tab Open -->
            <div class="content" *ngIf="tab == 'Games Info'">
              <div
                nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="10" nzSm="20">
                  Status:
                  <nz-tag
                    *ngIf="record.status == 'active'"
                    nzcolor="success"
                    class="ant-tag ant-tag-success ng-star-inserted"
                    ng-reflect-nz-color="success"
                    >{{ record.status | titlecase }}</nz-tag
                  >
                  <nz-tag
                    *ngIf="record.status == 'inactive'"
                    nzcolor="error"
                    class="ant-tag ant-tag-error ng-star-inserted"
                    ng-reflect-nz-color="error"
                    >{{ record.status | titlecase }}</nz-tag
                  >
                </div>
                <div nz-col nzMd="14" nzSm="28">
                  Game ID:
                  <nz-tag
                    nzcolor="default"
                    class="ant-tag ant-tag-default ng-star-inserted"
                    ng-reflect-nz-color="default"
                    >{{ record._id }}</nz-tag
                  >
                </div>
              </div>
              <!-- <span>{{record.description}}</span> -->
              <p class="p-sm">
                Molestie placerat amet venenatis urna cras ornare lorem sapien
                egestas. Egestas arcu, vestibulum, elementum urna diam mauris.
              </p>
              <div class="border_top my-2"></div>
              <h6 class="text-center">General</h6>
              <nz-table>
                <tbody>
                  <tr>
                    <td class="text-right">Name :</td>
                    <td>{{ record.name }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Logo :</td>
                    <td>
                      <nz-upload
                        class="avatar-uploader"
                        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                        nzName="avatar"
                        nzListType="picture-card"
                        [nzShowUploadList]="false"
                        [nzBeforeUpload]="beforeUpload"
                      >
                        <ng-container *ngIf="!record.logo">
                          <i
                            class="upload-icon"
                            nz-icon
                            [nzType]="loading ? 'loading' : 'plus'"
                          ></i>
                          <div class="ant-upload-text">Upload</div>
                        </ng-container>
                        <img
                          *ngIf="record.logo"
                          [src]="record.logo"
                          style="width: 100%"
                        />
                      </nz-upload>
                      <nz-modal
                        [nzVisible]="previewVisible"
                        [nzContent]="modalContent"
                        [nzFooter]="null"
                        (nzOnCancel)="previewVisible = false"
                      >
                        <ng-template #modalContent>
                          <img
                            [src]="previewImage"
                            [ngStyle]="{ width: '100%' }"
                          />
                        </ng-template>
                      </nz-modal>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">Genre :</td>
                    <td>{{ record.genre | titlecase }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Structure :</td>
                    <td>PvP</td>
                    <!-- <td>{{ record.structure | titlecase }}</td> -->
                  </tr>
                  <tr>
                    <td class="text-right">Legal Type :</td>
                    <td>
                      Skill-based
                      <!-- <a>{{ record.primaryEmail }}</a> -->
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">Age Restriction :</td>
                    <td>14+</td>
                  </tr>
                  <tr>
                    <td class="text-right">Created Date :</td>
                    <td>
                      {{ record.updated_on | _date: "dd.MM.yyyy  h:mm:ss" }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">Created By :</td>
                    <td>
                      <div class="name_title">RM</div>
                      Randy Middleton
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">Last Updated :</td>
                    <td>
                      {{ record.updated_on | _date: "dd.MM.yyyy  h:mm:ss" }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">Updated By :</td>
                    <td>
                      <div class="name_title name_title_warn">LL</div>
                      Lindsey Lohan
                    </td>
                  </tr>
                </tbody>
              </nz-table>

              <div class="border_top my-2"></div>
              <h6 class="text-center">Development</h6>
              <div class="text-right">
                <button nz-button nzType="primary" nzGhost (click)="addGame()">
                  Edit Game Info
                </button>
              </div>
            </div>
            <!-- Games Info Tab Close -->

            <!-- PlayOptions Tab Open -->
            <div class="content" *ngIf="tab == 'Play Options'">
              <!-- <div  style="overflow-x:hidden;overflow-y: auto; height:76vh;"> -->
              <div
                nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="12" nzXs="12">
                  <h3>Play Options</h3>
                </div>
                <div nz-col nzMd="12" nzXs="12" class="text-right">
                  <a>
                    <i nz-icon nzType="container" nzTheme="outline"></i>
                    &nbsp;&nbsp;Open Archive</a
                  >
                </div>
              </div>
              <!--/Row-->

              <!-- Accordine Open -->
              <nz-collapse [nzBordered]="false" *ngIf="record.name === 'Manna Wars'" >
                <nz-collapse-panel
                  *ngFor="let panel of playOptionsMultiplePanel; let i=index;"
                  [nzHeader]="panel.name"
                  [nzActive]="panel.active"
                >
                  <div
                    nz-row
                    [nzGutter]="{
                      xs: 8,
                      sm: 8,
                      md: 8,
                      lg: 24,
                      xl: 48,
                      xxl: 48
                    }"
                  >
                    <!-- Accordine 1 Open -->
                    <div
                      nz-col
                      nzMd="24"
                      nzXs="24"
                      *ngIf="i == 0"
                      class="play_option_card"
                    >
                      <!-- Card Open -->
                      <nz-card
                        nzType="inner"
                        nzTitle="Deathmatch * All users"
                        [nzExtra]="extraTemplate"
                        class="w-100 relative"
                      >
                        <nz-tag [nzColor]="'success'" class="action_cart_title"
                          >Active</nz-tag
                        >
                        <div
                          class="pt0"
                          nz-row
                          [nzGutter]="{
                            xs: 8,
                            sm: 8,
                            md: 8,
                            lg: 24,
                            xl: 48,
                            xxl: 48
                          }"
                        >
                          <div
                            nz-col
                            nzMd="10"
                            nzXs="10"
                            class="pl10 pr10 pt10 border_right"
                          >
                            <table class="w-100">
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-up"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  <input
                                    type="text"
                                    nz-input
                                    [ngModel]="'0'"
                                    class="wd50 text-center"
                                  />
                                </td>
                                <td class="price_box_green">
                                  <span class="doller_sign">$</span> 5
                                </td>
                                <td></td>
                              </tr>
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-down"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                            </table>
                          </div>
                          <div
                            nz-col
                            nzMd="14"
                            nzXs="14"
                            class="pl10 pr10 pt10"
                          >
                            <h4 class="font16">Leutenant</h4>
                            <p class="text_light_gray">No description</p>
                            <p>
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >4 Players</nz-tag
                              >
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >Entry $1.75</nz-tag
                              >
                            </p>
                          </div>
                        </div>
                      </nz-card>
                      <ng-template #extraTemplate>
                        Active: 590
                        <i nz-icon nzType="more" nzTheme="outline"></i>
                      </ng-template>
                      <!-- Card End -->

                      <!-- Card Open -->
                      <nz-card
                        nzType="inner"
                        nzTitle="Inner Card Title"
                        [nzExtra]="extraTemplate"
                        class="w-100"
                      >
                        <nz-tag [nzColor]="'success'" class="action_cart_title"
                          >Active</nz-tag
                        >
                        <div
                          class="pt0"
                          nz-row
                          [nzGutter]="{
                            xs: 8,
                            sm: 8,
                            md: 8,
                            lg: 24,
                            xl: 48,
                            xxl: 48
                          }"
                        >
                          <div
                            nz-col
                            nzMd="10"
                            nzXs="10"
                            class="pl10 pr10 pt10 border_right"
                          >
                            <table class="w-100">
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-up"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  <input
                                    type="text"
                                    nz-input
                                    [ngModel]="'0'"
                                    class="wd50 text-center"
                                  />
                                </td>
                                <td class="price_box_green">
                                  <span class="doller_sign">$</span> 10
                                </td>
                                <td></td>
                              </tr>
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-down"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                            </table>
                          </div>
                          <div
                            nz-col
                            nzMd="14"
                            nzXs="14"
                            class="pl10 pr10 pt10"
                          >
                            <h4 class="font16">Captain</h4>
                            <p class="text_light_gray">No description</p>
                            <p>
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >4 Players</nz-tag
                              >
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >Entry $3</nz-tag
                              >
                            </p>
                          </div>
                        </div>
                      </nz-card>
                      <ng-template #extraTemplate>
                        <a>More</a>
                      </ng-template>
                      <!-- Card End -->

                      <!-- Card Open -->
                      <nz-card
                        nzType="inner"
                        nzTitle="Practice brackets"
                        [nzExtra]="extraTemplate"
                        class="w-100"
                      >
                        <nz-tag [nzColor]="'success'" class="action_cart_title"
                          >Active</nz-tag
                        >
                        <div
                          class="pt0"
                          nz-row
                          [nzGutter]="{
                            xs: 8,
                            sm: 8,
                            md: 8,
                            lg: 24,
                            xl: 48,
                            xxl: 48
                          }"
                        >
                          <div
                            nz-col
                            nzMd="10"
                            nzXs="10"
                            class="pl10 pr10 pt10 border_right"
                          >
                            <table class="w-100">
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-up"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  <input
                                    type="text"
                                    nz-input
                                    [ngModel]="'0'"
                                    class="wd50 text-center"
                                  />
                                </td>
                                <td class="price_box_blue">
                                  <span class="doller_sign">X</span> 2
                                </td>
                                <td></td>
                              </tr>
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-down"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                            </table>
                          </div>
                          <div
                            nz-col
                            nzMd="14"
                            nzXs="14"
                            class="pl10 pr10 pt10"
                          >
                            <h4 class="font16">Practice brackets</h4>
                            <p class="text_light_gray">Round time 24 hours</p>
                            <p>
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >16 Players</nz-tag
                              >
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >Entry 8 xCoins</nz-tag
                              >
                            </p>
                          </div>
                        </div>
                      </nz-card>
                      <ng-template #extraTemplate>
                        <a>More</a>
                      </ng-template>
                      <!-- Card End -->
                    </div>
                    <!-- Accordine 1 End -->

                    <!-- Accordine 2 Open -->
                    <div
                    nz-col
                    nzMd="24"
                    nzXs="24"
                    *ngIf="i == 1"
                    class="play_option_card"
                  >
                    <!-- Card Open -->
                    <nz-card
                      nzType="inner"
                      nzTitle="Deathmatch * All users"
                      [nzExtra]="extraTemplate"
                      class="w-100 relative"
                    >
                      <nz-tag [nzColor]="'success'" class="action_cart_title"
                        >Active</nz-tag
                      >
                      <div
                        class="pt0"
                        nz-row
                        [nzGutter]="{
                          xs: 8,
                          sm: 8,
                          md: 8,
                          lg: 24,
                          xl: 48,
                          xxl: 48
                        }"
                      >
                        <div
                          nz-col
                          nzMd="10"
                          nzXs="10"
                          class="pl10 pr10 pt10 border_right"
                        >
                          <table class="w-100">
                            <tr>
                              <td class="text-center wd50">
                                <i
                                  nz-icon
                                  nzType="arrow-up"
                                  nzTheme="outline"
                                  class="font20"
                                ></i>
                              </td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <input
                                  type="text"
                                  nz-input
                                  [ngModel]="'0'"
                                  class="wd50 text-center"
                                />
                              </td>
                              <td class="price_box_green">
                                <span class="doller_sign">$</span> 5
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td class="text-center wd50">
                                <i
                                  nz-icon
                                  nzType="arrow-down"
                                  nzTheme="outline"
                                  class="font20"
                                ></i>
                              </td>
                              <td></td>
                              <td></td>
                            </tr>
                          </table>
                        </div>
                        <div
                          nz-col
                          nzMd="14"
                          nzXs="14"
                          class="pl10 pr10 pt10"
                        >
                          <h4 class="font16">Leutenant</h4>
                          <p class="text_light_gray">No description</p>
                          <p>
                            <nz-tag
                              nzcolor="default"
                              class="ant-tag ant-tag-default ng-star-inserted"
                              ng-reflect-nz-color="default"
                              >4 Players</nz-tag
                            >
                            <nz-tag
                              nzcolor="default"
                              class="ant-tag ant-tag-default ng-star-inserted"
                              ng-reflect-nz-color="default"
                              >Entry $1.75</nz-tag
                            >
                          </p>
                        </div>
                      </div>
                    </nz-card>
                    <ng-template #extraTemplate>
                      Active: 590
                      <i nz-icon nzType="more" nzTheme="outline"></i>
                    </ng-template>
                    <!-- Card End -->

                    <!-- Card Open -->
                    <nz-card
                      nzType="inner"
                      nzTitle="Inner Card Title"
                      [nzExtra]="extraTemplate"
                      class="w-100"
                    >
                      <nz-tag [nzColor]="'success'" class="action_cart_title"
                        >Active</nz-tag
                      >
                      <div
                        class="pt0"
                        nz-row
                        [nzGutter]="{
                          xs: 8,
                          sm: 8,
                          md: 8,
                          lg: 24,
                          xl: 48,
                          xxl: 48
                        }"
                      >
                        <div
                          nz-col
                          nzMd="10"
                          nzXs="10"
                          class="pl10 pr10 pt10 border_right"
                        >
                          <table class="w-100">
                            <tr>
                              <td class="text-center wd50">
                                <i
                                  nz-icon
                                  nzType="arrow-up"
                                  nzTheme="outline"
                                  class="font20"
                                ></i>
                              </td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <input
                                  type="text"
                                  nz-input
                                  [ngModel]="'0'"
                                  class="wd50 text-center"
                                />
                              </td>
                              <td class="price_box_green">
                                <span class="doller_sign">$</span> 10
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td class="text-center wd50">
                                <i
                                  nz-icon
                                  nzType="arrow-down"
                                  nzTheme="outline"
                                  class="font20"
                                ></i>
                              </td>
                              <td></td>
                              <td></td>
                            </tr>
                          </table>
                        </div>
                        <div
                          nz-col
                          nzMd="14"
                          nzXs="14"
                          class="pl10 pr10 pt10"
                        >
                          <h4 class="font16">Captain</h4>
                          <p class="text_light_gray">No description</p>
                          <p>
                            <nz-tag
                              nzcolor="default"
                              class="ant-tag ant-tag-default ng-star-inserted"
                              ng-reflect-nz-color="default"
                              >4 Players</nz-tag
                            >
                            <nz-tag
                              nzcolor="default"
                              class="ant-tag ant-tag-default ng-star-inserted"
                              ng-reflect-nz-color="default"
                              >Entry $3</nz-tag
                            >
                          </p>
                        </div>
                      </div>
                    </nz-card>
                    <ng-template #extraTemplate>
                      <a>More</a>
                    </ng-template>
                    <!-- Card End -->
                  </div>

                    <!-- Accordine 2 End -->

                    <!-- Accordine 3 Open -->
                    <div
                    nz-col
                    nzMd="24"
                    nzXs="24"
                    *ngIf="i == 2"
                    class="play_option_card"
                  >
                    <!-- Card Open -->
                    <nz-card
                      nzType="inner"
                      nzTitle="Practice brackets"
                      [nzExtra]="extraTemplate"
                      class="w-100"
                    >
                      <nz-tag [nzColor]="'success'" class="action_cart_title"
                        >Active</nz-tag
                      >
                      <div
                        class="pt0"
                        nz-row
                        [nzGutter]="{
                          xs: 8,
                          sm: 8,
                          md: 8,
                          lg: 24,
                          xl: 48,
                          xxl: 48
                        }"
                      >
                        <div
                          nz-col
                          nzMd="10"
                          nzXs="10"
                          class="pl10 pr10 pt10 border_right"
                        >
                          <table class="w-100">
                            <tr>
                              <td class="text-center wd50">
                                <i
                                  nz-icon
                                  nzType="arrow-up"
                                  nzTheme="outline"
                                  class="font20"
                                ></i>
                              </td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <input
                                  type="text"
                                  nz-input
                                  [ngModel]="'0'"
                                  class="wd50 text-center"
                                />
                              </td>
                              <td class="price_box_blue">
                                <span class="doller_sign">X</span> 2
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td class="text-center wd50">
                                <i
                                  nz-icon
                                  nzType="arrow-down"
                                  nzTheme="outline"
                                  class="font20"
                                ></i>
                              </td>
                              <td></td>
                              <td></td>
                            </tr>
                          </table>
                        </div>
                        <div
                          nz-col
                          nzMd="14"
                          nzXs="14"
                          class="pl10 pr10 pt10"
                        >
                          <h4 class="font16">Practice brackets</h4>
                          <p class="text_light_gray">Round time 24 hours</p>
                          <p>
                            <nz-tag
                              nzcolor="default"
                              class="ant-tag ant-tag-default ng-star-inserted"
                              ng-reflect-nz-color="default"
                              >16 Players</nz-tag
                            >
                            <nz-tag
                              nzcolor="default"
                              class="ant-tag ant-tag-default ng-star-inserted"
                              ng-reflect-nz-color="default"
                              >Entry 8 xCoins</nz-tag
                            >
                          </p>
                        </div>
                      </div>
                    </nz-card>
                    <ng-template #extraTemplate>
                      Active: 590
                      <i nz-icon nzType="more" nzTheme="outline"></i>
                    </ng-template>
                    <!-- Card End -->
                  </div>
                    <!-- Accordine 3 End -->
                  </div>
                </nz-collapse-panel>
              </nz-collapse>


              <nz-collapse [nzBordered]="false" *ngIf="record.name !== 'Manna Wars'" >
                <nz-collapse-panel
                  *ngFor="let panel of playOptionsSinglePanel; let i=index"
                  [nzHeader]="panel.name"
                  [nzActive]="panel.active"
                >
                  <div
                    nz-row
                    [nzGutter]="{
                      xs: 8,
                      sm: 8,
                      md: 8,
                      lg: 24,
                      xl: 48,
                      xxl: 48
                    }"
                  >
                    <!-- Accordine 1 Open -->
                    <div
                      nz-col
                      nzMd="24"
                      nzXs="24"
                      *ngIf="i == 0"
                      class="play_option_card"
                    >
                      <!-- Card Open -->
                      <nz-card
                        nzType="inner"
                        nzTitle="Brackets * All users"
                        [nzExtra]="extraTemplate"
                        class="w-100 relative"
                      >
                        <nz-tag [nzColor]="'success'" class="action_cart_title"
                          >Active</nz-tag
                        >
                        <div
                          class="pt0"
                          nz-row
                          [nzGutter]="{
                            xs: 8,
                            sm: 8,
                            md: 8,
                            lg: 24,
                            xl: 48,
                            xxl: 48
                          }"
                        >
                          <div
                            nz-col
                            nzMd="10"
                            nzXs="10"
                            class="pl10 pr10 pt10 border_right"
                          >
                            <table class="w-100">
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-up"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  <input
                                    type="text"
                                    nz-input
                                    [ngModel]="'0'"
                                    class="wd50 text-center"
                                  />
                                </td>
                                <td class="price_box_green">
                                  <span class="doller_sign">$</span> 5
                                </td>
                                <td></td>
                              </tr>
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-down"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                            </table>
                          </div>
                          <div
                            nz-col
                            nzMd="14"
                            nzXs="14"
                            class="pl10 pr10 pt10"
                          >
                            <h4 class="font16">Leutenant</h4>
                            <p class="text_light_gray">No description</p>
                            <p>
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >4 Players</nz-tag
                              >
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >Entry $1.75</nz-tag
                              >
                            </p>
                          </div>
                        </div>
                      </nz-card>
                      <ng-template #extraTemplate>
                        <span  nz-typography nzType="secondary">Active: 449</span>
                        <i nz-icon nzType="more" nzTheme="outline"></i>
                      </ng-template>
                      <!-- Card End -->

                      <!-- Card Open -->
                      <nz-card
                        nzType="inner"
                        nzTitle="Inner Card Title"
                        [nzExtra]="extraTemplate"
                        class="w-100"
                      >
                        <nz-tag [nzColor]="'success'" class="action_cart_title"
                          >Active</nz-tag
                        >
                        <div
                          class="pt0"
                          nz-row
                          [nzGutter]="{
                            xs: 8,
                            sm: 8,
                            md: 8,
                            lg: 24,
                            xl: 48,
                            xxl: 48
                          }"
                        >
                          <div
                            nz-col
                            nzMd="10"
                            nzXs="10"
                            class="pl10 pr10 pt10 border_right"
                          >
                            <table class="w-100">
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-up"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  <input
                                    type="text"
                                    nz-input
                                    [ngModel]="'0'"
                                    class="wd50 text-center"
                                  />
                                </td>
                                <td class="price_box_green">
                                  <span class="doller_sign">$</span> 10
                                </td>
                                <td></td>
                              </tr>
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-down"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                            </table>
                          </div>
                          <div
                            nz-col
                            nzMd="14"
                            nzXs="14"
                            class="pl10 pr10 pt10"
                          >
                            <h4 class="font16">Captain</h4>
                            <p class="text_light_gray">No description</p>
                            <p>
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >4 Players</nz-tag
                              >
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >Entry $3</nz-tag
                              >
                            </p>
                          </div>
                        </div>
                      </nz-card>
                      <ng-template #extraTemplate>
                        <a>More</a>
                      </ng-template>
                      <!-- Card End -->

                      <!-- Card Open -->
                      <nz-card
                        nzType="inner"
                        nzTitle="Practice brackets"
                        [nzExtra]="extraTemplate"
                        class="w-100"
                      >
                        <nz-tag [nzColor]="'success'" class="action_cart_title"
                          >Active</nz-tag
                        >
                        <div
                          class="pt0"
                          nz-row
                          [nzGutter]="{
                            xs: 8,
                            sm: 8,
                            md: 8,
                            lg: 24,
                            xl: 48,
                            xxl: 48
                          }"
                        >
                          <div
                            nz-col
                            nzMd="10"
                            nzXs="10"
                            class="pl10 pr10 pt10 border_right"
                          >
                            <table class="w-100">
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-up"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  <input
                                    type="text"
                                    nz-input
                                    [ngModel]="'0'"
                                    class="wd50 text-center"
                                  />
                                </td>
                                <td class="price_box_blue">
                                  <span class="doller_sign">X</span> 2
                                </td>
                                <td></td>
                              </tr>
                              <tr>
                                <td class="text-center wd50">
                                  <i
                                    nz-icon
                                    nzType="arrow-down"
                                    nzTheme="outline"
                                    class="font20"
                                  ></i>
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                            </table>
                          </div>
                          <div
                            nz-col
                            nzMd="14"
                            nzXs="14"
                            class="pl10 pr10 pt10"
                          >
                            <h4 class="font16">Practice brackets</h4>
                            <p class="text_light_gray">Round time 24 hours</p>
                            <p>
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >16 Players</nz-tag
                              >
                              <nz-tag
                                nzcolor="default"
                                class="ant-tag ant-tag-default ng-star-inserted"
                                ng-reflect-nz-color="default"
                                >Entry 8 xCoins</nz-tag
                              >
                            </p>
                          </div>
                        </div>
                      </nz-card>
                      <ng-template #extraTemplate>
                        <a>More</a>
                      </ng-template>
                      <!-- Card End -->
                    </div>
                    <!-- Accordine 1 End -->

                    <!-- Accordine 2 Open -->
                    <div
                    nz-col
                    nzMd="24"
                    nzXs="24"
                    *ngIf="i == 1"
                    class="play_option_card"
                  >
                    <!-- Card Open -->
                    <nz-card
                      nzType="inner"
                      nzTitle="Deathmatch * All users"
                      [nzExtra]="extraTemplate"
                      class="w-100 relative"
                    >
                      <nz-tag [nzColor]="'success'" class="action_cart_title"
                        >Active</nz-tag
                      >
                      <div
                        class="pt0"
                        nz-row
                        [nzGutter]="{
                          xs: 8,
                          sm: 8,
                          md: 8,
                          lg: 24,
                          xl: 48,
                          xxl: 48
                        }"
                      >
                        <div
                          nz-col
                          nzMd="10"
                          nzXs="10"
                          class="pl10 pr10 pt10 border_right"
                        >
                          <table class="w-100">
                            <tr>
                              <td class="text-center wd50">
                                <i
                                  nz-icon
                                  nzType="arrow-up"
                                  nzTheme="outline"
                                  class="font20"
                                ></i>
                              </td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <input
                                  type="text"
                                  nz-input
                                  [ngModel]="'0'"
                                  class="wd50 text-center"
                                />
                              </td>
                              <td class="price_box_green">
                                <span class="doller_sign">$</span> 5
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td class="text-center wd50">
                                <i
                                  nz-icon
                                  nzType="arrow-down"
                                  nzTheme="outline"
                                  class="font20"
                                ></i>
                              </td>
                              <td></td>
                              <td></td>
                            </tr>
                          </table>
                        </div>
                        <div
                          nz-col
                          nzMd="14"
                          nzXs="14"
                          class="pl10 pr10 pt10"
                        >
                          <h4 class="font16">Leutenant</h4>
                          <p class="text_light_gray">No description</p>
                          <p>
                            <nz-tag
                              nzcolor="default"
                              class="ant-tag ant-tag-default ng-star-inserted"
                              ng-reflect-nz-color="default"
                              >4 Players</nz-tag
                            >
                            <nz-tag
                              nzcolor="default"
                              class="ant-tag ant-tag-default ng-star-inserted"
                              ng-reflect-nz-color="default"
                              >Entry $1.75</nz-tag
                            >
                          </p>
                        </div>
                      </div>
                    </nz-card>
                    <ng-template #extraTemplate>
                      Active: 590
                      <i nz-icon nzType="more" nzTheme="outline"></i>
                    </ng-template>
                    <!-- Card End -->

                    <!-- Card Open -->
                    <nz-card
                      nzType="inner"
                      nzTitle="Inner Card Title"
                      [nzExtra]="extraTemplate"
                      class="w-100"
                    >
                      <nz-tag [nzColor]="'success'" class="action_cart_title"
                        >Active</nz-tag
                      >
                      <div
                        class="pt0"
                        nz-row
                        [nzGutter]="{
                          xs: 8,
                          sm: 8,
                          md: 8,
                          lg: 24,
                          xl: 48,
                          xxl: 48
                        }"
                      >
                        <div
                          nz-col
                          nzMd="10"
                          nzXs="10"
                          class="pl10 pr10 pt10 border_right"
                        >
                          <table class="w-100">
                            <tr>
                              <td class="text-center wd50">
                                <i
                                  nz-icon
                                  nzType="arrow-up"
                                  nzTheme="outline"
                                  class="font20"
                                ></i>
                              </td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <input
                                  type="text"
                                  nz-input
                                  [ngModel]="'0'"
                                  class="wd50 text-center"
                                />
                              </td>
                              <td class="price_box_green">
                                <span class="doller_sign">$</span> 10
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td class="text-center wd50">
                                <i
                                  nz-icon
                                  nzType="arrow-down"
                                  nzTheme="outline"
                                  class="font20"
                                ></i>
                              </td>
                              <td></td>
                              <td></td>
                            </tr>
                          </table>
                        </div>
                        <div
                          nz-col
                          nzMd="14"
                          nzXs="14"
                          class="pl10 pr10 pt10"
                        >
                          <h4 class="font16">Captain</h4>
                          <p class="text_light_gray">No description</p>
                          <p>
                            <nz-tag
                              nzcolor="default"
                              class="ant-tag ant-tag-default ng-star-inserted"
                              ng-reflect-nz-color="default"
                              >4 Players</nz-tag
                            >
                            <nz-tag
                              nzcolor="default"
                              class="ant-tag ant-tag-default ng-star-inserted"
                              ng-reflect-nz-color="default"
                              >Entry $3</nz-tag
                            >
                          </p>
                        </div>
                      </div>
                    </nz-card>
                    <ng-template #extraTemplate>
                      Active: 590
                      <i nz-icon nzType="more" nzTheme="outline"></i>
                    </ng-template>
                    <!-- Card End -->
                  </div>
                 <!-- Accordine 2 End -->

                 <!-- Accordine 3 Open -->
                 <div
                 nz-col
                 nzMd="24"
                 nzXs="24"
                 *ngIf="i == 2"
                 class="play_option_card"
               >
                 <!-- Card Open -->
                 <nz-card
                   nzType="inner"
                   nzTitle="Practice brackets"
                   [nzExtra]="extraTemplate"
                   class="w-100"
                 >
                   <nz-tag [nzColor]="'success'" class="action_cart_title"
                     >Active</nz-tag
                   >
                   <div
                     class="pt0"
                     nz-row
                     [nzGutter]="{
                       xs: 8,
                       sm: 8,
                       md: 8,
                       lg: 24,
                       xl: 48,
                       xxl: 48
                     }"
                   >
                     <div
                       nz-col
                       nzMd="10"
                       nzXs="10"
                       class="pl10 pr10 pt10 border_right"
                     >
                       <table class="w-100">
                         <tr>
                           <td class="text-center wd50">
                             <i
                               nz-icon
                               nzType="arrow-up"
                               nzTheme="outline"
                               class="font20"
                             ></i>
                           </td>
                           <td></td>
                           <td></td>
                         </tr>
                         <tr>
                           <td>
                             <input
                               type="text"
                               nz-input
                               [ngModel]="'0'"
                               class="wd50 text-center"
                             />
                           </td>
                           <td class="price_box_blue">
                             <span class="doller_sign">X</span> 2
                           </td>
                           <td></td>
                         </tr>
                         <tr>
                           <td class="text-center wd50">
                             <i
                               nz-icon
                               nzType="arrow-down"
                               nzTheme="outline"
                               class="font20"
                             ></i>
                           </td>
                           <td></td>
                           <td></td>
                         </tr>
                       </table>
                     </div>
                     <div
                       nz-col
                       nzMd="14"
                       nzXs="14"
                       class="pl10 pr10 pt10"
                     >
                       <h4 class="font16">Practice brackets</h4>
                       <p class="text_light_gray">Round time 24 hours</p>
                       <p>
                         <nz-tag
                           nzcolor="default"
                           class="ant-tag ant-tag-default ng-star-inserted"
                           ng-reflect-nz-color="default"
                           >16 Players</nz-tag
                         >
                         <nz-tag
                           nzcolor="default"
                           class="ant-tag ant-tag-default ng-star-inserted"
                           ng-reflect-nz-color="default"
                           >Entry 8 xCoins</nz-tag
                         >
                       </p>
                     </div>
                   </div>
                 </nz-card>
                 <ng-template #extraTemplate>
                  Active: 590
                  <i nz-icon nzType="more" nzTheme="outline"></i>
                </ng-template>
                 <!-- Card End -->
               </div>
                    <!-- Accordine 3 End -->
                  </div>
                </nz-collapse-panel>
              </nz-collapse>
              <!-- </div> -->




              <div class="border_top my-2"></div>
              <!-- <h6 class="text-center">Development</h6> -->
              <div class="text-right">
                <button nz-button nzType="primary" nzGhost (click)="addPlayOption()">
                 <i nz-icon nzType="plus"></i>   Add PlayOption
                </button>
                </div>

              <!-- Accordine End -->

              <!--/Row-->
            </div>

            <!-- PlayOptions Tab Close -->

            <!-- Tournaments Tab Open -->
            <!-- <div class="content" *ngIf="tab == 'Tournaments'">{{ tab }}</div> -->
            <!-- Tournaments Tab Close -->

            <!-- Tab Open -->
            <div class="content" *ngIf="tab == 'Financial Stats'">
              <div
                nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="12" nzSm="24">
                  <h6>Practice</h6>
                  <h2 class="text_blue mb-0">155 xCoins</h2>
                  <p class="bold text_gray">
                    1,620 <span class="font14 semibold">All-time</span>
                  </p>
                </div>
                <div nz-col nzMd="12" nzSm="24">
                  <h6>Tickets</h6>
                  <h2 class="text_pink mb-0">2 tickets</h2>
                  <p class="bold text_gray">
                    31 <span class="font14 semibold">All-time</span>
                  </p>
                </div>
              </div>
              <div class="border_top my-2"></div>
              <div
                nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="24" nzSm="24">
                  <h6>Fiat</h6>
                  <h2 class="text_green mb-0">106.56 USD</h2>
                  <p class="bold text_gray">
                    1,010.20 <span class="font14 semibold">All-time</span>
                  </p>
                </div>
              </div>

              <div
                nz-row
                [nzGutter]="{ xs: 12, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="24" nzSm="24">
                  <g2-mini-progress
                    height="20px"
                    percent="86.20"
                    strokeWidth="24"
                    target="90"
                    color="#95DE64"
                  ></g2-mini-progress>
                </div>
              </div>
              <div
                nz-row
                [nzGutter]="{ xs: 12, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="24" nzSm="24">
                  <nz-table>
                    <tbody>
                      <tr>
                        <td class="bg_gray border_right_white">
                          <h2 class="text_green mb-0">90.76 USD</h2>
                          <p class="bold mb-0">86.20% Real Funds</p>
                        </td>
                        <td class="bg_gray">
                          <h2 class="text_green mb-0">15.80 USD</h2>
                          <p class="bold mb-0">14.80% Bonus Cash</p>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </div>

              <div class="border_top my-2"></div>
              <div
                nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="24" nzSm="24">
                  <h6>Crypto</h6>
                  <p class="bold text_gray">Total</p>
                  <h2 class="text_purple mb-0">≈ 417.92 USD</h2>
                </div>
              </div>

              <!-- Accordine Open -->
              <div nz-col nzMd="24">
                <nz-collapse [nzBordered]="false">
                  <nz-collapse-panel
                    *ngFor="let panel of panels"
                    [nzHeader]="panel.name"
                    [nzActive]="panel.active"
                    [nzExtra]="extraTpl"
                  >
                    <div
                      nz-row
                      [nzGutter]="{
                        xs: 8,
                        sm: 8,
                        md: 8,
                        lg: 24,
                        xl: 48,
                        xxl: 48
                      }"
                    >
                      <div nz-col nzMd="24" nzSm="24">
                        <h2 class="text_purple mb-0">51.20 USDT</h2>
                        <p class="bold text_gray">
                          112.30 <span class="font14 semibold">All-time</span>
                        </p>
                      </div>
                    </div>

                    <div
                      nz-row
                      [nzGutter]="{
                        xs: 12,
                        sm: 8,
                        md: 8,
                        lg: 24,
                        xl: 48,
                        xxl: 48
                      }"
                    >
                      <div nz-col nzMd="24" nzSm="24">
                        <g2-mini-progress
                          height="20px"
                          percent="86.20"
                          strokeWidth="24"
                          target="90"
                          color="#B37FEB"
                        ></g2-mini-progress>
                      </div>
                      <div nz-col nzMd="24" nzSm="24">
                        <nz-table>
                          <tbody>
                            <tr>
                              <td class="bg_gray border_right_white">
                                <h2 class="text_purple mb-0">46.08 USDT</h2>
                                <p class="bold mb-0">
                                  <span nz-typography nzType="secondary"
                                    >90.00% Real Funds</span
                                  >
                                </p>
                              </td>
                              <td class="bg_gray">
                                <h2 class="text_gray mb-0">5.12 USDT</h2>
                                <p class="bold mb-0">
                                  <span nz-typography nzType="secondary"
                                    >10.00% Bonus Cash</span
                                  >
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                    </div>
                  </nz-collapse-panel>
                </nz-collapse>
                <ng-template #extraTpl
                  ><span class="balance_value">1.30</span> ≈ 360.77 USD
                </ng-template>
              </div>
              <!-- Accordine End -->
            </div>
            <!-- Balance Tab Close -->

            <!-- Game Profile Tab Open -->
            <div class="content" *ngIf="tab == 'Game Profile'">
              <div
                nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzSm="24" nzMd="24">
                  <nz-card
                    [nzLoading]="loading"
                    [nzBordered]="false"
                    [nzTitle]="
                      'app.analysis.the-proportion-of-sales1' | translate
                    "
                    [nzBodyStyle]="{ 'padding.px': 24 }"
                    [nzExtra]="extra"
                    class="sales-card mb-0"
                    style="min-height: 502.5px"
                  >
                    <ng-template #extra>
                      <nz-radio-group
                        [(ngModel)]="salesType"
                        (ngModelChange)="changeSaleType()"
                      >
                        <label nz-radio-button [nzValue]="'all'">
                          {{ "app.analysis.channel.all1" | translate }}
                        </label>
                        <label nz-radio-button [nzValue]="'online'">
                          {{ "app.analysis.channel.online1" | translate }}
                        </label>
                        <!-- <label nz-radio-button [nzValue]="'offline'">
                          {{ "app.analysis.channel.stores" | translate }}
                        </label> -->
                      </nz-radio-group>
                      <!-- <i
                        nz-dropdown
                        [nzDropdownMenu]="salesExtraMenu"
                        nzPlacement="bottomLeft"
                        nz-icon
                        nzType="ellipsis"
                        class="icon-group"
                      ></i> -->
                      <!-- <nz-dropdown-menu #salesExtraMenu="nzDropdownMenu">
                        <ul nz-menu>
                          <li nz-menu-item>操作一</li>
                          <li nz-menu-item>操作二</li>
                        </ul>
                      </nz-dropdown-menu> -->
                    </ng-template>
                    <h4 class="margin:8px 0 32px 0;">
                      {{ "app.analysis.matches" | translate }}
                    </h4>
                    <g2-pie
                      *ngIf="salesPieData"
                      [data]="salesPieData"
                      [hasLegend]="true"
                      [subTitle]="'app.analysis.matches' | translate"
                      [height]="180"
                      [lineWidth]="1"
                      [total]="salesTotal"
                      [valueFormat]="handlePieValueFormat"
                    >
                    </g2-pie>
                  </nz-card>
                </div>
              </div>
            </div>
            <!-- Game Profile Tab Close -->

            <!-- Admin Actions Tab Open -->
            <div class="content" *ngIf="tab == 'Admin Actions'">
              <div
                class="mt20"
                nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="6" nzXs="4" class="right">&nbsp;</div>
                <div nz-col nzMd="18" nzXs="20" class="right">
                  <nz-timeline nzMode="left">
                    <!--Time line 1-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <div class="name_title">RM</div>
                      <span nz-typography nzType="secondary"
                        >Randy Middleton</span
                      >
                      <p>
                        Changed status to
                        <span nz-typography nzType="warning">Warned</span>.
                        Warning message:
                      </p>
                      <div nz-typography nzType="secondary" class="bg_gray p10">
                        Cheating software was detected in your recent match. If
                        the same software will be used after this warning we
                        will ban you permanently.
                      </div>
                    </nz-timeline-item>
                    <!-- /Time line 1-->

                    <!--Time line 2-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <div class="name_title">RM</div>
                      <span nz-typography nzType="secondary"
                        >Randy Middleton</span
                      >
                      <p>
                        Removed user from Solitaire match<br />
                        <span class="text_blue">ID 0003213991.</span>
                      </p>
                    </nz-timeline-item>
                    <!-- /Time line 2-->

                    <!--Time line 3-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <nz-avatar
                        nz-page-header-avatar
                        nzSize="small"
                        nzSrc="{{
                          'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'
                        }}"
                      >
                      </nz-avatar>
                      &nbsp;
                      <span nz-typography nzType="secondary">Roma Gordon</span>
                      <p>
                        50.00 USD
                        <span class="text_blue"
                          >withdrawal request #3288 cancelled. Reason:</span
                        >
                      </p>
                      <div nz-typography nzType="secondary" class="bg_gray p10">
                        You don’t deserve this money. We’ll give it to charity
                        anyway.
                      </div>
                    </nz-timeline-item>
                    <!-- /Time line 3-->

                    <!--Time line 4-->
                    <nz-timeline-item>
                      <div class="date_time">
                        19.11.2021<br />
                        22:11:33
                      </div>
                      <nz-avatar
                        nz-page-header-avatar
                        nzSize="small"
                        nzSrc="{{
                          'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'
                        }}"
                      >
                      </nz-avatar>
                      &nbsp;
                      <span nz-typography nzType="secondary">Roma Gordon</span>
                      <p>
                        Removed user from Manna Wars match<br />
                        <span class="text_blue">ID 0002913919.</span>
                      </p>
                    </nz-timeline-item>
                    <!-- /Time line 4-->
                  </nz-timeline>
                </div>
              </div>
            </div>
            <!-- Admin Actions Tab Close -->

            <!-- <p>Content of Tab Pane {{ tab }}</p> -->
            <!-- <p>Content of Tab Pane {{ tab }}</p> -->
            <!-- <p>Content of Tab Pane {{ tab }}</p> -->
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>
