<!-- <nz-card [nzBordered]="false"> -->

<div class="modal-container pt-4">
  <div class="modal_header">
    <h3>{{ data.title }}</h3>
  </div>
  <div class="modal-body">
    <form
      nz-form
      [formGroup]="form"
      (ngSubmit)="submit()"
      se-container="1"
      labelWidth="150"
    >
      <se label="Name" error="Enter your name" required>
        <input nz-input formControlName="name" placeholder="Name" />
      </se>
      <se label="Logo" error="" required>
        <nz-upload
          class="avatar-uploader"
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          nzName="avatar"
          nzListType="picture-card"
          [nzShowUploadList]="false"
          [nzBeforeUpload]="beforeUpload"
          (nzChange)="handleChange($event)"
        >
          <ng-container *ngIf="!avatarUrl" class="upload_img">
            <p class="ant-upload-text upload_text">
              <i
                class="upload-icon"
                nz-icon
                [nzType]="loading ? 'loading' : 'plus'"
              ></i>
              <br />Upload
            </p>
          </ng-container>
          <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
        </nz-upload>
        <span class="info"
          >1024x1024 px max<br />
          .jpg, .png, .bmp formats<br />
          The image should have no transparent parts.</span
        >
      </se>
      <se label="Genre" error="" required>
        <nz-select
          formControlName="genre"
          [nzPlaceHolder]="'Select genre'"
          [nzShowSearch]="true"
        >
          <nz-option
            *ngFor="let i of genre"
            [nzLabel]="i.label"
            [nzValue]="i.value"
          ></nz-option>
        </nz-select>
      </se>
      <se label="Structure" error="" required>
        <nz-select
          formControlName="structure"
          [nzPlaceHolder]="'Select structure'"
          [nzShowSearch]="true"
        >
          <nz-option
            *ngFor="let i of structure"
            [nzLabel]="i.label"
            [nzValue]="i.value"
          ></nz-option>
        </nz-select>
      </se>
      <se label="Legal Type" error="" required>
        <nz-select
          formControlName="legalType"
          [nzPlaceHolder]="'Select legal type'"
          [nzShowSearch]="true"
        >
          <nz-option
            *ngFor="let i of legalType"
            [nzLabel]="i.label"
            [nzValue]="i.value"
          ></nz-option>
        </nz-select>
      </se>
      <se label="Age Restriction" error="" required>
        <nz-select
          formControlName="restriction"
          [nzPlaceHolder]="'No restriction'"
          [nzShowSearch]="true"
        >
          <nz-option
            *ngFor="let i of ageRestriction"
            [nzLabel]="i.label"
            [nzValue]="i.value"
          ></nz-option>
        </nz-select>
      </se>
      <se label="Description" error="请输入目标描述" required>
        <textarea
          nz-input
          formControlName="description"
          [nzAutosize]="{ minRows: 3 }"
          placeholder=""
        ></textarea>
      </se>
      <se label="Developer" error="Select developer" required>
        <nz-select
          formControlName="developer"
          [nzPlaceHolder]="'Select developer'"
          [nzShowSearch]="true"
        >
          <nz-option
            *ngFor="let i of developer"
            [nzLabel]="i.label"
            [nzValue]="i.value"
          ></nz-option>
        </nz-select>
      </se>
      <se label="Owner" error="" required>
        <nz-select
          formControlName="owner"
          [nzPlaceHolder]="'Select owner'"
          [nzShowSearch]="true"
        >
          <nz-option
            *ngFor="let i of owner"
            [nzLabel]="i.label"
            [nzValue]="i.value"
          ></nz-option>
        </nz-select>
      </se>
    </form>
  </div>
  <div class="modal_footer">
    <button nz-button class="ml-sm">Cancel</button>
    <button
      nz-button
      nzType="primary"
      type="submit"
      [disabled]="!submitting"
      [nzLoading]="submitting"
    >
      Save Game
    </button>
  </div>
  <!-- </nz-card> -->
</div>
