<div class="alain-default__content-title">
  <h1>User Management</h1>
</div>

<div class="white_box">
  <form
    nz-form
    [nzLayout]="'inline'"
    (ngSubmit)="getData()"
    class="search__form d-block"
  >
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb20">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right">Username</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <input
                nz-input
                [(ngModel)]="q.username"
                name="username"
                placeholder=""
                id="username"
              />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb20">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right">Email</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <input
                nz-input
                [(ngModel)]="q.email"
                name="email"
                placeholder=""
                id="email"
              />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb20" *ngIf="expandForm">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right">Phone Number</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <input
                nz-input
                id="loginType"
                [(ngModel)]="q.loginType"
                name="loginType"
                placeholder=""
                id="loginType"
              />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb20" *ngIf="expandForm">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right">Last Name</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <input
                nz-input
                id="lName"
                [(ngModel)]="q.lName"
                name="lName"
                placeholder=""
                id="lName"
              />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb20" *ngIf="expandForm">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right"
              >Security Status</nz-form-label
            >
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <nz-select
                [nzPlaceHolder]="'Status'"
                nzId="status3"
                [(ngModel)]="q.status"
                name="status"
                [nzShowSearch]="true"
                class="w-100"
              >
                <nz-option
                  *ngFor="let i of status; let idx = index"
                  [nzLabel]="i.text"
                  [nzValue]="i.text"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb20" *ngIf="expandForm">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right"
              >KYC Completed?</nz-form-label
            >
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
            <nz-radio-group [(ngModel)]="q.radioValue"
            nz-input
            id="radioValue"
            name="radioValue"
            placeholder=""
            id="radioValue"
            >
              <label nz-radio nzValue='yes'>Yes</label>
              <label nz-radio nzValue='no'>No</label>
            </nz-radio-group>
          </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb20">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="24" nzSm="24" nzXs="24" class="text-right">
            <button
              nz-button
              type="submit"
              [nzType]="'primary'"
              [nzLoading]="loading"
            >
              Apply
            </button>
            <button nz-button type="reset" (click)="reset()" class="mx-sm">
              Reset
            </button>
            <a (click)="expandForm = !expandForm">
              {{ expandForm ? "Collapse" : "Expand" }}
              <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<nz-page-header class="site-page-header white_box mt20">
  <!--title-->
  <nz-page-header-title>User List</nz-page-header-title>

  <!--subtitle-->
  <nz-page-header-subtitle>({{ total | number }})</nz-page-header-subtitle>

  <!--extra-->
  <nz-page-header-extra>
    <nz-page-header-subtitle>Sort by:</nz-page-header-subtitle>
    <a nz-dropdown [nzDropdownMenu]="menu" class="select_border">
      Most Recent
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item>1st menu item</li>
        <li nz-menu-item>2nd menu item</li>
        <li nz-menu-item>3rd menu item</li>
        <li nz-menu-item nzDanger>4th danger item</li>
      </ul>
    </nz-dropdown-menu>
    <nz-page-header-subtitle
      ><i nz-icon nzType="reload" (click)="reload()" ></i
    ></nz-page-header-subtitle>
    <nz-page-header-subtitle>
      <i nz-icon nzType="column-height"></i>
    </nz-page-header-subtitle>
    <nz-page-header-subtitle
      ><i nz-icon nzType="setting"></i
    ></nz-page-header-subtitle>
  </nz-page-header-extra>
</nz-page-header>

<div class="table_scroll white_box">
  <nz-table
    nzShowSizeChanger
    [nzData]="listOfRandomUser"
    [nzFrontPagination]="false"
    [nzShowPagination] = "paginationToggle"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th nzColumnKey="username" [nzSortFn]="true">Username</th>
        <th nzColumnKey="loginType">Registration</th>
        <th nzColumnKey="lastActive" [nzSortFn]="true">Last Active</th>
        <th nzColumnKey="fName" [nzSortFn]="true">Full Name</th>
        <th nzColumnKey="securityStatus">Security Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of listOfRandomUser; let i = index"
        (click)="rowClick(data)"
      >
        <td>
          <a href="#">{{ data.username }}</a>
        </td>
        <td>
          <nz-tag nzColor="default" *ngIf="data.loginType == 'guest'">{{
            data.loginType | titlecase
          }}</nz-tag>
          <nz-tag nzColor="processing" *ngIf="data.loginType != 'guest'">
            Registered
          </nz-tag>
        </td>
        <td>{{ data.lastActive | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
        <td>{{ data.fName | titlecase }} {{ data.lName | titlecase }}</td>

        <td>
          <nz-tag nzColor="success" *ngIf="data.securityStatus == 'fair'">{{
            data.securityStatus ? "Normal" : ("none" | titlecase)
          }}</nz-tag>
          <nz-tag
            nzcolor="warning"
            class="ant-tag ant-tag-warning ng-star-inserted"
            ng-reflect-nz-color="warning"
            *ngIf="data.securityStatus == 'warning'"
            >{{
              data.securityStatus ? data.securityStatus : ("none" | titlecase)
            }}</nz-tag
          >
          <nz-tag
            nzColor="processing"
            *ngIf="data.securityStatus == 'locked'"
            >{{
              data.securityStatus ? data.securityStatus : ("none" | titlecase)
            }}</nz-tag
          >
          <nz-tag
            nzColor="processing"
            *ngIf="data.securityStatus == 'blackListed'"
            >{{
              data.securityStatus ? data.securityStatus : ("none" | titlecase)
            }}</nz-tag
          >
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
