.content {
  flex: 1;
}
.ant-page-header-heading-title{
  font-size: 17px;
 }
.content p {
  margin-bottom: 1em;
}

.content-link a {
  margin-right: 16px;
}
@media (max-width: 768px) {
  .content-image {
    flex: 100%;
    margin: 24px 0 0;
  }
}
.i.anticon{
  cursor: pointer;
}
