<!-- <div class="alain-default__content-title"> -->
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }" class="white_box padding">
    <div nz-col nzMd="4" nzSm="8">
    <h1>Single Player</h1>
    </div>
    <div nz-col nzMd="20" nzSm="40">
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['./', 'single-player.component.ts', 'menu', 'en']">To Review</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['/', '', 'menu', 'zh']">PvP</a>
        </li>
        <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', '', 'menu', 'zh']">Brackets</a>
          </li>
      </ul>
      </div>
    </div>
  <!-- </div> -->
  <div class="white_box">
    <form
      nz-form
      [nzLayout]="'inline'"
      (ngSubmit)="getData()"
      class="search__form"
    >
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="name">Challenge Name</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                [(ngModel)]="q.name"
                name="name"
                placeholder=""
                id="name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="_id">Challenge Id</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                [(ngModel)]="q._id"
                name="_id"
                placeholder=""
                id="_id"
              />
            </nz-form-control>
          </nz-form-item>
          <!-- <nz-form-item>
            <nz-form-label nzFor="status">使用状态</nz-form-label>
            <nz-form-control>
              <nz-select [(ngModel)]="q.status" name="status" id="status" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
                <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item> -->
        </div>
        <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
          <nz-form-item>
            <nz-form-label nzFor="status">Type</nz-form-label>
            <nz-form-control>
              <nz-select
                [nzPlaceHolder]="'Type'"
                nzId="type"
                [(ngModel)]="q.type"
                name="type"
                [nzShowSearch]="true"
              >
                <nz-option
                  *ngFor="let i of type; let idx = index"
                  [nzLabel]="i.text"
                  [nzValue]="i.text"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
          <nz-form-item>
            <nz-form-label nzFor="lastActive">Last Active</nz-form-label>
            <nz-form-control>
              <nz-date-picker
                nz-input
                [(ngModel)]="q.lastActive"
                name="lastActive"
                id="lastActive"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div> -->
        <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
          <nz-form-item>
            <nz-form-label nzFor="status">Status</nz-form-label>
            <nz-form-control>
              <nz-select
                [nzPlaceHolder]="'Status'"
                nzId="status"
                [(ngModel)]="q.status"
                name="status"
                [nzShowSearch]="true"
              >
                <nz-option
                  *ngFor="let i of status; let idx = index"
                  [nzLabel]="i.text"
                  [nzValue]="i.text"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
          <nz-form-item>
            <nz-form-label nzFor="genre">Genre</nz-form-label>
            <nz-form-control>
              <nz-select
                [nzPlaceHolder]="'Genre'"
                nzId="genre"
                [(ngModel)]="q.genre"
                name="ganre"
                [nzShowSearch]="true"
              >
                <nz-option
                  *ngFor="let i of genre; let idx = index"
                  [nzLabel]="i.text"
                  [nzValue]="i.text"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzSpan]="expandForm ? 24 : 8"
          [class.text-right]="expandForm"
        >
          <button
            nz-button
            type="submit"
            [nzType]="'primary'"
            [nzLoading]="loading"
          >
            Apply
          </button>
          <button nz-button type="reset" (click)="reset()" class="mx-sm">
            Reset
          </button>
          <a (click)="expandForm = !expandForm">
            {{ expandForm ? "Shrink" : "Expand" }}
            <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
          </a>
        </div>
      </div>
    </form>
  </div>
  
  <nz-page-header class="site-page-header white_box mt20">
    <!--title-->
    <nz-page-header-title>Challenge List</nz-page-header-title>
  
    <!--subtitle-->
    <nz-page-header-subtitle>({{ total | number }})</nz-page-header-subtitle>
  
    <!--extra-->
    <nz-page-header-extra>
      <nz-page-header-subtitle>Sort by:</nz-page-header-subtitle>
      <a nz-dropdown [nzDropdownMenu]="menu">
        Most Recent
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>1st menu item</li>
          <li nz-menu-item>2nd menu item</li>
          <li nz-menu-item>3rd menu item</li>
          <li nz-menu-item nzDanger>4th danger item</li>
        </ul>
      </nz-dropdown-menu>
      <nz-page-header-subtitle
        ><i nz-icon nzType="reload"></i
      ></nz-page-header-subtitle>
      <nz-page-header-subtitle>
        <i nz-icon nzType="column-height"></i>
      </nz-page-header-subtitle>
      <nz-page-header-subtitle
        ><i nz-icon nzType="setting"></i
      ></nz-page-header-subtitle>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="table_scroll white_box">
  <nz-table
    nzShowSizeChanger
    [nzData]="listOfChallenges"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th nzColumnKey="_id">Challenge ID</th>
        <th nzColumnKey="name">Challenge Name</th>
        <th nzColumnKey="game">Game</th>
        <th nzColumnKey="status">Status</th>
        <th nzColumnKey="createdAt" [nzSortFn]="true">Created</th>
        <!-- <th nzColumnKey="playerType" [nzSortFn]="true">24h Players</th> -->
      </tr>
    </thead>
    <tbody>
      <tr
        [ngClass]="{ 'data-selected': selectedRow === data._id }"
        *ngFor="let data of listOfChallenges; let i = index"
        (click)="rowClick(data)"
      >
        <td>
          <!-- <img nz-image width="100px" height="100px" [nzSrc]="data.logo" alt="" /> -->
          <a>{{ data._id }}</a>
        </td>
        <td>{{data.name}}</td>
        <td>xSolitaire</td>
        <td>
          <nz-tag nzColor="success" *ngIf="data.status == 'open'">{{
            data.status | titlecase
          }}</nz-tag>
          <nz-tag nzColor="error" *ngIf="data.status == 'cancelled' || data.status == 'aborted'">{{
            data.status | titlecase
          }}</nz-tag>
          <nz-tag nzColor="default" *ngIf="data.status == 'finished'">{{
            data.status | titlecase
          }}</nz-tag>
          <nz-tag nzColor="warning" *ngIf="data.status == 'tie'">{{
            data.status | titlecase
          }}</nz-tag>
        </td>
        <td>{{ data.createdAt | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
        <!-- <td>10,239,312</td> -->
        <!-- <td><span *ngIf="i%2 == 0"  >22,319&nbsp;&nbsp;&nbsp; <span nz-typography nzType="success"><i nz-icon nzType="arrow-up"></i>&nbsp;4.22%</span></span>
        <span *ngIf="i%2 != 0"  >24,839&nbsp;&nbsp;&nbsp; <span nz-typography nzType="danger"><i nz-icon nzType="arrow-down"></i>&nbsp;1.27%</span></span></td> -->
      </tr>
    </tbody>
  </nz-table>
  </div>
  