    <div class="modal-container pt-4">
        <div class="modal_header">
          <h3>{{ data.title }}</h3>
        </div>
        <div class="modal-body">
          <form
            nz-form
            [formGroup]="form"
            (ngSubmit)="submit()"
            se-container="1"
            labelWidth="150"
          >
          <se label="Challenge Type" error="Select challenge type">
            <nz-radio-group formControlName="challengeType">
              <label nz-radio-button nzValue="tvt">Team vs Team</label>
              <label nz-radio-button nzValue="dm">Deathmatch</label>
            </nz-radio-group>
          </se>
          <se label="Name" error="Enter play option name">
            <input nz-input formControlName="name" placeholder="Add play option name" />
          </se>
            <se label="Description">
              <input nz-input formControlName="description" placeholder="Optional" />
            </se>
            <!-- <se label="Position Index" error="Enter position Index">
              <nz-input-number formControlName="positionIndex" [nzMin]="0" [nzStep]="1"></nz-input-number>
            </se> -->
              <se col="2" label="Position Index" error="Enter position Index">
             <nz-input-number formControlName="positionIndex" [nzMin]="0" [nzStep]="1"></nz-input-number>
              </se>
              <se col="2" label="Position Index" error="Enter position Index">
                  <nz-switch [ngModel]="false" formControlName="regOnly" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                  <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
                  <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
              </se>
            <se col="2" label="Entry Fee" error="Enter entry fee">
              <nz-input-number formControlName="fee" [nzMin]="0" [nzStep]="1"></nz-input-number>
            </se>
            <se  col="2">
              <nz-radio-group formControlName="challengeType" style="width:131px;">
                <label nz-radio-button nzValue="tvt">USD</label>
                <label nz-radio-button nzValue="dm">xCoins</label>
              </nz-radio-group>
            </se>
            <se col="2" label="Players" error="Enter no of players">
              <nz-input-number formControlName="players" [nzMin]="0" [nzStep]="1"></nz-input-number>
            </se>
            <se col="2" label="Prize Total" error="Enter no of players">
              <nz-input-number formControlName="players" [nzMin]="0" [nzStep]="1" style="width:52px;"></nz-input-number>
              <nz-radio-group formControlName="challengeType">
                <label nz-radio-button nzValue="tvt">USD</label>
              </nz-radio-group>
            </se>
            <se label="Structure" error="" required>
              <nz-select
                formControlName="structure"
                [nzPlaceHolder]="'Select structure'"
                [nzShowSearch]="true"
              >
                <nz-option
                  *ngFor="let i of structure"
                  [nzLabel]="i.label"
                  [nzValue]="i.value"
                ></nz-option>
              </nz-select>
            </se>
            <se label="Legal Type" error="" required>
              <nz-select
                formControlName="legalType"
                [nzPlaceHolder]="'Select legal type'"
                [nzShowSearch]="true"
              >
                <nz-option
                  *ngFor="let i of legalType"
                  [nzLabel]="i.label"
                  [nzValue]="i.value"
                ></nz-option>
              </nz-select>
            </se>
            <se label="Age Restriction" error="" required>
              <nz-select
                formControlName="restriction"
                [nzPlaceHolder]="'No restriction'"
                [nzShowSearch]="true"
              >
                <nz-option
                  *ngFor="let i of ageRestriction"
                  [nzLabel]="i.label"
                  [nzValue]="i.value"
                ></nz-option>
              </nz-select>
            </se>
            <se label="Description" error="请输入目标描述" required>
              <textarea
                nz-input
                formControlName="description"
                [nzAutosize]="{ minRows: 3 }"
                placeholder=""
              ></textarea>
            </se>
            <se label="Developer" error="Select developer" required>
              <nz-select
                formControlName="developer"
                [nzPlaceHolder]="'Select developer'"
                [nzShowSearch]="true"
              >
                <nz-option
                  *ngFor="let i of developer"
                  [nzLabel]="i.label"
                  [nzValue]="i.value"
                ></nz-option>
              </nz-select>
            </se>
            <se label="Owner" error="" required>
              <nz-select
                formControlName="owner"
                [nzPlaceHolder]="'Select owner'"
                [nzShowSearch]="true"
              >
                <nz-option
                  *ngFor="let i of owner"
                  [nzLabel]="i.label"
                  [nzValue]="i.value"
                ></nz-option>
              </nz-select>
            </se>
          </form>
        </div>
        <div class="modal_footer">
          <button nz-button class="ml-sm">Cancel</button>
          <button
            nz-button
            nzType="primary"
            type="submit"
            [disabled]="!submitting"
            [nzLoading]="submitting"
          >
            Save Game
          </button>
        </div>
        <!-- </nz-card> -->
      </div>
      